<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Список университетов</title>
</head>
<body>
<h1>Список университетов</h1>
<table>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>ADDRESS</th>
    <th>RATING</th>
    <th>EMAIL</th>
    <th>WEBSITE</th>
    <th>GOVERNMENT FUNDING</th>
  </tr>
  <tr th:each="university : ${universities}">
    <td th:text="${university.idUniversity}"></td>
    <td th:text="${university.name}"></td>
    <td th:text="${university.address}"></td>
    <td th:text="${university.rating}"></td>
    <td th:text="${university.email}"></td>
    <td th:text="${university.website}"></td>
    <td th:text="${university.hasGovernmentFunding} ? 'Да' : 'Нет'"></td>
  </tr>
</table>
</body>
